*{
margin: 0;
padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns:0.7fr 1.1fr 1.1fr 1.1fr ;
    grid-template-rows:   0.5fr 2fr 1.2fr 0.3fr;
    grid-template-areas:"nav nav nav nav"
                 "sidebar main main main"
                 "sidebar conteudo1 conteudo2 conteudo3"
                 "sidebar footer footer footer";
    grid-gap: 0.5em;
    font-size: 16px;
    font-family: tahoma;
    font-weight: 800;
    text-align:center
}

#nav{
background-color: lightgreen;
grid-area: nav;
border-radius: 0.8em;
display: flex;
justify-content: space-between;
background-color: aliceblue;
align-items: center;   
}

#nav img{
    height: 100px;
    width: 100px;
    margin-left: 60px;
    padding: 10px;
}

#menu a{
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    color: black;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

#menu a:hover{
    background-color: lightblue;
    color: white;
    border-radius: 0.7em;
    background-image:linear-gradient(to right, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#main{
display:flex;
text-align:center;
justify-content:center;
align-items:center;
background-color: lightcoral;
grid-area:main;
border-radius: 0.8em;
}

#sidebar{
background-color: lightpink;
grid-area: sidebar;
border-radius: 0.8em;
}




#conteudo1{
display:flex;
text-align:center;
justify-content:center;
align-items:center;
background-color: black;
color:white;
grid-area: conteudo1;
border-radius: 0.8em;
cursor:pointer;
transition:transform 0.3s easy-out;
}

#conteudo1:hover{
    color: white;
    border-radius: 0.7em;
    background-image:linear-gradient(to left, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




#conteudo2{
display:flex;
text-align:center;
justify-content:center;
align-items:center;
background-color:black;
color:white;
grid-area: conteudo2;
border-radius: 0.8em;
cursor:pointer;
transition:transform 0.3s easy-out;
}

#conteudo2:hover{
    color: white;
    border-radius: 0.7em;
    background-image:linear-gradient(to left, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




#conteudo3{
display:flex;
text-align:center;
justify-content:center;
align-items:center;
background-color:black;
color:white;
grid-area: conteudo3;
border-radius: 0.8em;
cursor:pointer;
transition:transform 0.3s easy-out;
}

#conteudo3:hover{
    color:white;
    border-radius:0.7em;
    background-image:linear-gradient(to left,black,gray);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    transform:translateY(-5px);
}

#footer{
background-color: lightslategray;
grid-area: footer;
border-radius: 8em;
}
